body {

    font-family: arial;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/27/9f/45/bc/restaurant.jpg");
    background-size: cover;
}

.header {
    padding: 1em;
}

.footer {
    background-color: lightgreen;
    padding: 1em;
}

/*clearing the footer float*/
.clearfix {
    overflow: auto;
    zoom: 1;
}